* {
  margin: 0;
  padding: 0;
/*  font-weight: normal;
  font-size: 100%;*/
}

article {
  width: 30%;
  border: 1px solid lightblue;
}

.cover {
  display: block;
  margin: auto;
  padding: 5px 0;
}

.productTitle {
  border: 1px dotted lightgray;
  text-align: center;
}

.available {
  color: yellow;
  background: darkgray;
}